body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    user-select: none;
}

.imgBody {
    position: relative;
    max-width: 70%;
}

.plus-icon {
    position: absolute;
    font-size: 5vh;
    color: white;
    text-shadow: 0 0 10px white;
    cursor: pointer;
    user-select: none;
}

.left-icon {
    bottom: 10px;
    left: 2vh;
}

.right-icon {
    bottom: 10px;
    right: 2vh;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border: solid gray 2px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}
