@import url('../fonts/Gilroy/font.css');
@import url('../fonts/drukcyr/font.css');

:root {
    --piv: 0.09259259259259259vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Gilroy', sans-serif;
    color: white;

    user-select: none;
}

html,
body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, #070707 0%, rgba(6, 14, 27, 0.94) 100%);
    mix-blend-mode: normal;
    overflow: hidden;
}